/*
@import url("gtk-zenburn-overrides.css");
*/

GucharmapChartable {
    background-color: @theme_bg_color;
}

GucharmapChartable:selected {
    background-color: @theme_selected_bg_color;
}

GucharmapChartable:active {
    background-color: shade(@theme_selected_bg_color, 0.8);
}

MozContainer {
    background-color: #000000;
    color: #ffffff;
}

MessageList,* {
    -MessageList-new-mail-fg-color: #ed9;
    -MessageList-new-mail-bg-color: mix(@theme_base_color, #546, 0.4);
}
